@font-face {
  font-family: 'SourceSans3-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/SourceSans3-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSans3-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/SourceSans3-Regular.ttf') format('truetype');
}
