.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s, pointer-events 0.5s;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  .modal__content {
    border-radius: 5px;
    background-color: white;
    transform: scale(0.5);
    transition: transform 0.4s;
    max-width: 295px;
    width: 100%;
    padding-left: 20px;

    &.active {
      transform: scale(1);
    }
  }
}
